<%- include('header'); -%>


<div class="intro1">
  <h2 class="intro" >Hi...I'm Nimish Patel</h2>
  <h3 class="intro"  >I am from India.I'm pursuing my study in Artificial Intelligence fast track course of the advance diploma.</h3>
  <img class="myimg" src="https://drive.google.com/file/d/11PfeEwvxI4bChUeXjOAOwJDEWCpLmfTJ/view?usp=sharing" alt="">
  <button class="hire" type="button" name="button"><a hire1 href="https://drive.google.com/file/d/1tMa-HUirPgZXXL2Fns4cAqIOvQ6mVlMo/view?usp=sharing">RESUME</a></button>
  
</div>
<br><br><br>

<div class="s1">
  
  <br>
  
  
  <a class="social1" href="https://www.linkedin.com/in/gautam-kumar3ab861117/">CONTACT ME -   <i class="fab fa-linkedin"></i></a>
  
  </div>
 
<br><br><br><br><br><br>
<%- include('footer'); -%>
