<%- include('header'); -%>
<div class="cont">
  <h2 class="cont1">Get in touch with me</h2>
  <form class="connectme" action="/" method="post">
    <label for="">Name:</label><br>
    <input type="text" name="fullName" value="" placeholder="Full Name" required>
    <br>
      <label for="">Mobile Number:</label><br>
      <input type="text" name="mobile" value="" placeholder="10 digit Mobile bumber" required>
      <br>
      <label for="">E-mail</label><br>
      <input type="email" name="email" value="" placeholder="Write Your Email here" required><br>
      <textarea name="content" rows="5" cols="50"></textarea><br>
    <button type="submit" name="button">Submit</button>
    </form>
  </div>


<%- include('footer'); -%>
