<footer>
  <a href="https://www.youtube.com/channel/UCEpQn8nmhsZuoDso1Z6lkkA"><i class="fab fa-youtube"></i></a>
  <a href="https://github.com/nimish194"><i class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/gautam-kumar3ab861117/"><i class="fab fa-linkedin"></i></a>
  
  <br>
  copyright©tHE NIMISH PATEL
</footer>
</body>
</html>
