<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://i.pinimg.com/originals/f3/45/51/f34551c94e3cf1cba3124b959909c4cf.png" type="image/gif" sizes="30x30">
    <title>My Profile</title>
<!-- All Link -->

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
<link rel='stylesheet' href='/Content/app.css' />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

     <!-- CSS Section -->

  </head>
  <body>
    <nav>
      <div class="top4">
       <div class="top1">

        <a class="top1"><i class="fa-regular fa-home"></i>DEMO WEBSITE</a>
       </div>

       <div class="top2">
    
        <a class="top2" href="/home"><i class="fas fa-home"></i>Home</a>

        <a class="top2" href="/about"> <i class="fas fa-info-circle"></i>about</a>

        <a class="top2" href="/projects"><i class="fab fa-elementor"></i>projects</a>

        <a class="top2" href="/contact"><i class="fas fa-mobile-alt"></i>Contact</a>

        <a class="top2" href="/services"><i class="fas fa-cogs"></i>services</a>
  
       </div>
      </div>
    </nav>
