<%- include('header'); -%>
<!-- intro -->

<div>
<br><br>

  <h1 style="color:black; text-align:center;">HELLO, WELCOME TO MY WEBSITE !!</h1><br><br>

  <h2 style="color:black; text-align:center;">All the necessary Information is available regarding the site !</h2><br><br>

  <h2 style="color:black; text-align:center;">You can access all the function of the site !</h2><br><br>

  <button type="button" name="button" style="float:center;"><a  href="/about">ABOUT ME !</a></button>



</div>

<br><br><br><br><br><br><br><br><br>


<%- include('footer'); -%>
