<%- include('header'); -%>
<div>
<h1> THIS ARE MY PROJECTS</h1>
</div>

<h2> 1) FACE RECOGNISE : IN THIS PYTHON BASED PROJECT WE WILL CREATE A PROGRAM WHICH DECET THE STUDENT FACES AND BASED ON THAT PROJECT DIRECTLY FILL THE ATENDENCE SHEET.</h2>
<br><br>

<h2> 2) RESTAURENT MANAGMENT SYSTEM : IN THIS PROJECT WE HAVE CREATED A SYSTEM WHICH HELP TO MANAGE ORDERS, BOOKING TABLE,INVENTORY SYSTEM,STOCKING OF GROCERIES ETC.</h2>
<br><br>

<h2> 3) DICE ROLLING SIMULATOR : IT HELPS TO CREATE A RANDOM NUMBER FOR MANY GAMES.</h2>
 <br><br><br><br><br>


<%- include('footer'); -%> 