<%- include('header'); -%>
<div>
  <h1> THIS SERVICES ARE AVAILABLE !!</h1>
</div>

<h2> - CLOUD HOSTING</h2>
<br>
<h2> - MOBILE APPS</h2>
<h2> - MOBILE APPS
</h2>
<br>
<h2> - GRAPHICS DESIGN</h2>
<br>
<h2> - WEB DOMAIN</h2>
<br><br><br><br><br>
<%- include('footer'); -%>